{% extends 'Basepage.html' %}
{% load static %}

{% block content %}

<h2>Here is All what you are looking for</h2>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'nike.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 1</h5>
              <p class="card-text">2000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'redtape 1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 2</h5>
              <p class="card-text">3700</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'white.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 3</h5>
              <p class="card-text">1000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'addidas orange.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 4</h5>
              <p class="card-text">5000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'addidas special.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 5</h5>
              <p class="card-text">700</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'conves.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 6</h5>
              <p class="card-text">3500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'jordens.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 7</h5>
              <p class="card-text">1500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'cross.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 8</h5>
              <p class="card-text">1000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'black and white.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mens Casul 9</h5>
              <p class="card-text">5500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}