{% extends 'Basepage.html' %}
{% load static %}

{% block content %}

<h2>Nike The Tick Mark of your life</h2>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'nike sports1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 1</h5>
              <p class="card-text">3000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'nike sports2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 2</h5>
              <p class="card-text">7000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'nike sport3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 3</h5>
              <p class="card-text">16000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'nike.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 4</h5>
              <p class="card-text">5000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'white.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 5</h5>
              <p class="card-text">3000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'black air1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 6</h5>
              <p class="card-text">7000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'cross.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 7</h5>
              <p class="card-text">9000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'black and white.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 8</h5>
              <p class="card-text">10000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'jordens.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike 9</h5>
              <p class="card-text">4000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}