{% extends 'Basepage.html' %}
{% load static %}

{% block content %}

<h2>Here is All SPARK FOR you</h2>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 1</h5>
              <p class="card-text">600</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 2</h5>
              <p class="card-text">400</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 3</h5>
              <p class="card-text">800</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 4</h5>
              <p class="card-text">1000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark5.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 5</h5>
              <p class="card-text">900</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 6</h5>
              <p class="card-text">500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark7.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 7</h5>
              <p class="card-text">800</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark8.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 8</h5>
              <p class="card-text">1200</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'spark9.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SPARK 9</h5>
              <p class="card-text">3000</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
            
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}